<div class="hero">
   <div class="hero__details">
      <div class="detail detail--name">
         <label>{{hero.name}}</label>
       </div>
      <div class="detail detail--gender">
        <label>Gender: </label>
        <span>{{hero.gender}}</span>
      </div>
      <div class="detail detail--hairColor">
        <label>Hair color: </label>
        <span>{{hero.hair_color}}</span>
      </div>
      <div class="detail detail--mass">
        <label>Mass: </label>
        <span>{{hero.mass}}</span>
      </div>
      <div class="detail detail--skinColor">
        <label>Skin color: </label>
        <span>{{hero.skin_color}}</span>
      </div>
    </div>
</div>